body{
    border: 10px solid red;
}
header{
    border: 10px solid blue;
}
nav{
    border: 10px solid green;
}
article{
    border: 10px solid yellow;
}
#feature{
    border: 10px solid orange;
}
#rows{
    border: 10px solid purple;
}
#column{
    border: 10px solid white;
}
footer{
    border: 10px solid black;
}